
<div class="container-fluid">
    
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">La bodega</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Inicia Sesión</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
            <div class="card">
                <img class="card-img-top" src="./assets/images/aguacate.jpg" alt="Aguacate">
                <div class="card-body">
                  <h5 class="card-title">Aguacate</h5>
                  <p class="card-text">
                      Precio: $10
                      <br>
                      Unidades disponibles: 46
                  </p>
                  <a href="#" class="btn btn-primary">Ver más</a>
                  <div class="float-right">
                    <a href="#" class="btn btn-warning">Añadir</a>
                    
                    <input type="number" size="10">
                  </div>
                </div>
            </div>
        </div>   
        <div class="col-12 col-sm-12 col-md-3">
            <div class="card">
                <img class="card-img-top" src="./assets/images/aguacate.jpg" alt="Aguacate">
                <div class="card-body">
                  <h5 class="card-title">Aguacate</h5>
                  <p class="card-text">
                      Precio: $10
                      <br>
                      Unidades disponibles: 46
                  </p>
                  <a href="#" class="btn btn-primary">Ver más</a>
                  <div class="float-right">
                    <a href="#" class="btn btn-warning">Añadir</a>                    
                  <input type="number" size="10">
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
