<div class="bodyFull">
<div class="container-fluid">
    
    <div class="container prods">
        <app-navmenu></app-navmenu>
    </div>
    <br>
    
    <div class="container prods">
    <div class="row padding">
        <div class="col-6">
            <h3>Catálogo de productos</h3>
        </div>
        <div class="col-6 float-right">
            <h5>¿Qué estas buscando?</h5>
            <input type="text" placeholder="Buscar producto" [(ngModel)]="query">
        </div>
    </div>
    <div class="row" style="overflow-y: scroll; height: 370px;">
    <div class="row" *ngIf="flagProductos">
        <!--div class="col-12 col-sm-12 col-md-3" ng-repeat="item in productos | filter:searchText"-->
        <div class="col-12 col-sm-12 col-md-3" *ngFor="let item of productos | filter: query:'nombre'; let i = index">
             <div class="card" style="margin-bottom: 10px;">
                <img class="card-img-top" src="http://xatsaautopartes.xyz/Api/images/{{item.imagen}}" alt="{{item.imagen}}">
                <div class="card-body">
                  <h5 class="card-title">{{item.nombre}}</h5>
                  <p class="card-text">
                      Precio: ${{item.precio}}
                      <br>
                      Unidades disponibles: {{item.cantidad}}
                  </p>
                  <button class="btn btn-primary" (click)="showDetalle(i)">Ver más</button>
                  <div class="float-right">
                    <button class="btn btn-warning" (click)="addProduct(i)">Añadir</button>                    
                    <input type="number" size="10" (change)="saveItem($event.target.value)">
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <app-vista-producto *ngIf="elementoView"></app-vista-producto>

    </div>
</div>

</div>