
/*.container{
    padding: 150px;
}*/
html, body { height: 100% !important }
div[ng-view]{
     height: 100%;
}
.bodyFull{
    background-repeat: no-repeat;
    background-image: url(/assets/images/main-fondo.jpg);
    height: 100%;
    background-size: 100% 100%;
}
.btn-warning{
    color:white;
}
input[type="number"]{
    width: 60px;
    margin-left: 5px;
}
.prods{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.container-fluid{
    min-height:100vh;
    background-repeat: no-repeat;
    background-image: url('/assets/images/main-fondo.jpg');
    height: 100%;
    background-size: 100% 100%;
}

.float-right{
    text-align: right;
}
button{
    font-size: small;
}
.scroll{
    overflow-y: scroll; 
    height: 370px;
}
.fullwidth{
    width: 100%;
}