li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.container{
    padding: 150px;
}

.btn-warning{
    color:white;
}
input[type="number"]{
    width: 70px;
    margin-left: 5px;
}