
<div class="container-fluid">
    
        
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>{{elemento.nombre}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <img class="card-img-top" src="http://xatsaautopartes.xyz/Api/images/{{elemento.imagen}}" alt="">
            </div>
            <div class="col-12 col-sm-6">
                <h3>
                    Precio: {{elemento.precio}}
                </h3>
                <br>
                <h4>
                    Unidades disponibles: {{elemento.cantidad}}
                </h4>            
            </div>

        </div>
    </div>
</div>
