    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">La bodega</a>
        <ul class="mr-sm-2 inline">
            <li><a routerLink="/productos"><span class="glyphicon glyphicon-search">Productos</span></a></li>
            <li><a routerLink="/carrito"><span class="glyphicon glyphicon-search">Carrito</span></a></li>
            <li><a href="./"><span class="glyphicon glyphicon-search">Cerrar sesión</span></a></li>
        </ul>
        <!--form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form-->
    </nav>